@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 12px;
  line-height: 30px;
  color: #777;
  background: #4CAF50;
  height: 100%;
}

.App {
  height: 100vh;
  display: flex;
}

.App-intro {
  font-size: large;
}

.header__text{
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
}

#message-area {
    width: 100%;
    padding: 0 0 0 10px;
}



.container {
  width: 800px;
  padding: 0 10px;
}

#contact {
  background:white;
  padding: 25px;
  margin: 150px 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}


#textarea {
    height: 100%;
    width: 100%;
    padding: 10px;
    font-size: 14px;
}

.contact-submit{
  width: 100%;
  padding: 10px;
  background-color: #43A047;
  color: white;
  border: none;
  margin-top: 20px;
}